[user]
	name = Moffinguer
	email = fernandomateos.fermatgom@gmail.com
[core]
	editor = nvim
	excludesFile = ~/.git-templates/.gitignore
[commit]
	template = /home/moffinguer/.git-templates/.gitmessage
[init]
	templatedir = ~/.git-templates
[diff]
	wsErrorHighlight = all
