*.log
/.config/cef_user_data
/.local/bin/*
/.local/share/*
/.local/state/*
!/.local/share/fonts/
/.config/cni
/.config/dconf
/.config/discord
/.config/gtk-2.0
/.config/gtk-3.0/bookmarks
/.config/nvim/autoload
!/.config/pulse
/.config/pulse/*
/.config/GIMP
/.config/config.rasi
/.config/flameshot
!/.config/pulse/client.conf
!/.config/pulse/daemon.conf
!/.config/pulse/default.pa
!/.config/pulse/system.pa
/.config/qBittorrent*
/.config/retroarch/*
/.config/obs-studio/*
/.config/lutris/*
/.config/VirtualBox/*
/.config/coc/commands
/.config/coc/list_history.dat
/.config/coc/lists
/.config/chromium/*
/.config/Thunar
/.config/vlc
/.config/wireshark
/.config/xfce4
/.config/zsh/plugins
/.config/zsh/.zcompdump
/.config/mimeapps.list
/.config/QtProject.conf
/.config/coc/extensions
/.config/coc/memos.json
/.config/Code/*
!/.config/Code/User
/.config/Code/User/*
!/.config/Code/User/snippets
!/.config/Code/User/settings.json
/.vscode/*
!/.vscode/extensions/
/.vscode/extensions/*
!/.vscode/extensions/extensions.json
/.libao
/.lesshst
/.jre/*
/.java/*
/.gnupg/*
.cache/*
/.cpan/*
/.docker/*
/.fehbg
/.Xauthority
/.m2/*
/.minecraft/*
/.mozilla/*
/.npm/*
/.npmrc
/.openjfx/*
/.oracle_jre_usage/*
/.pki/*
/.psql_history
/.pulse-cookie
/.python_history
/.ssh/*
/.steam/*
/.steampath
/.steampid
/.vagrant.d/
/.wine/*
/.yarnrc
/.zcompdump
/.viminfo
/.dotfiles.git/
/Desktop/
/Games/
/Documents/
/Music/
/Pictures/
/Public/
/Trash/
/Videos/
/Templates/
/Downloads/
