*.log
.config/cef_user_data
.config/cni
.config/dconf
.config/discord
.config/gtk-2.0
.config/gtk-3.0/bookmarks
.config/nvim/autoload
!.config/pulse
.config/pulse/*
!.config/pulse/client.conf
!.config/pulse/daemon.conf
!.config/pulse/default.pa
!.config/pulse/system.pa
.config/qBittorrent*
.config/Thunar
.config/vlc
.config/wireshark
.config/xfce4
.config/zsh/plugins
.config/zsh/.zcompdump
.config/mimeapps.list
.config/QtProject.conf
.config/coc/extensions
.config/coc/memos.json
.config/Code/*
!.config/Code/User
.config/Code/User/*
!.config/Code/User/snippets
!.config/Code/User/settings.json
.vscode/*
!main/.vscode/extensions/
main/.vscode/extensions/*
!main/.vscode/extensions/extensions.json
